h1, h2, h3 , h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  }
  p {
    font-family: 'Lato', sans-serif;
  }

/* Navigation bar */


/* Jumbotron  */
.jumbotron {
background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center; }