h1, h2, h3 , h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  }


  p {
    font-family: 'Lato', sans-serif;
  }


  ul { font-family: 'Lato', sans-serif;
    
  }

.subheader {
  border-bottom: 2rem;
}

/* Navigation bar */


/* Jumbotron  */
.jumbotron {
background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center; }

/* Cards */
.cardContainer {
  margin-bottom: 15px;
  padding: 10px;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  }

/* About me */
#aboutme {
  background-size: cover;
  background-color: #d9e2ef;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  }

#skills {
  background-size: cover;
  background-color: #d9e2ef;
  height: 550px;
  background-repeat: no-repeat;
  display: flex;
}


#skilllist
{
  font-size: 20px;
  
}

a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
}


#contact {
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}


.footer {
  padding: 25px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: #d9e2ef;
}
